body{
	background-image: url("../images/background.png");
	margin: 30px;
}

title{

}

#randomNumber{
	color: red;
	font-size: 40px;
}

#score{
	font-size: 25px;
	font-weight: bold;
}

#score2{
	color: green;
	font-size: 40px;
}